* {
  box-sizing: border-box;
}
body {
  margin:44px;
  background: pink;
  font-size: 33px;
  color: deeppink;
}
.special {
  color: plum;
  font-style: italic;
  cursor: cell;
}
.secret {
  position: absolute;
  width: 555px;
  top: 100px;
  left: 300px;
  display: none;
}

.special:hover .secret{
display: block;
}

.circle {
  background: moccasin;
  width: 111px;
  height: 111px;
  border-radius: 50%;
  position: absolute;
  bottom: 200px;
  right: 300px;
  transition:transform 1s ease, border-radius .5s, background 1s ease;
}

.circle:hover {
border-radius: 0;
transform: scale(2.5) rotate(180deg);
background: springgreen;
}
