* {
  box-sizing: border-box;
}

body {
  background-color: crimson;
  background-image: url("caracol.png");
  background-size: 12%;
  margin: 30px;
  background-position: top;
  background-attachment: scroll;
  display: flex;
}
