* {
  box-sizing: border-box;
}

body {
  background-color: mediumvioletred;
  /* background-image: url("caracol.png"); */
  background-size: 20%;
  margin: 0px;
  background-position: top;
  display: flex;
}

.heather{
  position: absolute;
  width: 100vw;
}
