* {
  box-sizing: border-box;
}
*::selection {
  background:black;
}
body {
  margin: 0px;
  background: darkturquoise;
  font-family: 'Aclonica', sans-serif;
}

img {
  width: 33%;
}

.marquee {
  /* width: 300px; /* the plugin works for responsive layouts so width is not necessary */ */
  overflow: hidden;
  font-size: 60px;
  color: aquamarine;
}
/* .btn {
  cursor:pointer;
} */

/* .btn::selection {
  background:transparent;
} */

#wish {
  height:200px;
  background: darkkhaki;
  position:fixed;
  width:100%;
  bottom: -500px;
  /* right: 500px; */
  color: khaki;
  font-size: 50px;
  padding: 25px;
  transition:transform .5s;
}

.active {
  transform:translateY(-500px);
}
