* {
  box-sizing: border-box;
}
body {
  background-color: mediumvioletred;
  /* background-image: url("hojitainvert.png"); */
  background-size: 40%;
  margin: 30px;
  background-position: top;
  background-attachment: scroll;
  display: flex;
}
