* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.maincontainer {
   background: white;
   height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;
}
.topcontainer {
  background: springgreen;
  height: 20%;
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: space-around;
}
.top {
  background: mediumseagreen;
  height: 100%;
  width: 32%;
}

.bottomcontainer {
  background: springgreen;
  height: 80%;
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: space-around;
}
.bottomleft {
  background: hotpink;
  height: 100%;
  width: 48%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.centeritem {
  background: lightpink;
  height: 25%;
  width: 25%;
  justify-content: center;
}

.bottomright {
  background: springgreen;
  height: 100%;
  width: 49%;
  display: flex;
  flex-direction: column;
  /* padding: 15px; */
  justify-content: space-between;
}
.verticalflex {
  background: mediumvioletred;
  height: 23%;
  width: 100%;
}
